<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3744770914-r5mk609qea3palofui5kkptbat6qvdiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3744770914-r5mk609qea3palofui5kkptbat6qvdiv</string>
	<key>API_KEY</key>
	<string>AIzaSyDzGIGtjcOmbfWAchOJob8TRPGNtB2yKUw</string>
	<key>GCM_SENDER_ID</key>
	<string>3744770914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alifwyaa.azanmunich.ios.iosWidgets</string>
	<key>PROJECT_ID</key>
	<string>azan-munich-test</string>
	<key>STORAGE_BUCKET</key>
	<string>azan-munich-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3744770914:ios:cb0dbf65e16864ad365a3b</string>
</dict>
</plist>